[submodule "laradock"]
	path = laradock
	url = https://github.com/Laradock/laradock.git
[submodule "html/wp-content/themes/31w"]
	path = html/wp-content/themes/31w
	url = https://github.com/pcavendano/21647-31w.git
